.icon-phone {
	width: 14px;
	height: 14px;
	margin-right: 9px;
	transition: all 0.3s ease 0s;
}
.icon-next,
.icon-prev {
	width: 16px;
	height: 16px;
	transition: fill 0.1s ease 0s;
	color: $text;
}
.icon-car {
	width: 16px;
	height: 12px;
	margin-right: 5px;
}
.icon-callback {
	width: 20px;
	height: 20px;
	fill: $accent;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.icon-cross {
	width: 20px;
	height: 20px;
	fill: $accent;
	stroke: $accent;
}
@media (max-width: 1240px) {
	.icon-phone {
		width: 24px;
		height: 24px;
	}
}
