.header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
	height: 76px;
	// background-color: $white;
	&__wrapper {
		padding: 15px 0;
		display: flex;
		align-items: center;
		height: 76px;
		max-width: 100%;
		justify-content: space-between;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 120%);
		transition: all 0.6s ease 0s;
	}
	._active {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
	._header-fixed {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 99999;
		background-color: $white;
		width: 100%;
		height: 76px;
		transition: all 0.3s ease 0s;
		animation: show_header 0.7s;
		@keyframes show_header {
			0% {
				top: -43px;
			}
			100% {
				top: 0;
			}
		}
	}
	&__left {
		display: flex;
		align-items: center;
	}
	&__logo {
		max-width: 200px;
		width: 100%;
		margin-right: 78px;
	}
	&__menu-list {
		display: flex;
		font-size: 18px;

		li {
			margin-right: 70px;
			&:last-child {
				margin-right: 0px;
			}
			&:first-child {
				width: 115px;
			}
		}
	}
	&__menu-link {
		line-height: 140%;
		color: $text;
	}
	&__right {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}
	&__phone {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		margin-right: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 130%;
		color: $text;
	}
	&__callback {
		flex-shrink: 0;
	}
	// &__burger {
	// 	display: none;
	// }
	&__burger {
		width: 30px;
		height: 30px;
		position: relative;
		transition: all 0.3s ease 0s;
		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $black;
			transform: scale(1);
			transition: all 0.3s ease 0s;
			&:nth-of-type(2) {
				top: calc(50% - 8px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 8px);
			}
		}
	}
}
.header__burger.active {
	transform: scale(0);
}
@media (max-width: 1449px) {
	.header {
		&__logo {
			margin-right: 50px;
		}
		&__menu-list {
			font-size: 16px;
			li {
				margin-right: 40px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__phone {
			font-size: 14px;
		}
		&__callback {
			font-size: 12px;
		}
	}
}
@media (max-width: 1240px) {
	.header {
		&__phone {
			p {
				display: none;
			}
		}
	}
}
@media (max-width: 1140px) {
	.header {
		&__left {
			width: 100%;
			justify-content: space-between;
		}
		&__logo {
			margin-right: 0;
		}
		&__right {
			display: none;
		}
	}
}
@media (max-width: 900px) {
	.header {
		&__fixed-wrapper {
			background-color: $white !important;
		}
		&__wrapper {
			height: 76px !important;
		}
		&__left {
			nav {
				display: none;
			}
		}
		// &__burger {
		// 	display: inline-block;
		// }
	}
}
