.header {
	&__wrapper {
		padding: 15px 0;
		display: flex;
		align-items: center;
		height: 76px;
		max-width: 100%;
		justify-content: space-between;
		transition: all 0.6s ease 0s;
		// &._active {
		// 	opacity: 1;
		// 	visibility: visible;
		// 	transform: translate(0, 0);
		// }
	}
	// &._header-fixed {
	// 	background-color: $white;
	// 	transition: all 0.3s ease 0s;
	// 	animation: show_header 0.7s;
	// 	@keyframes show_header {
	// 		0% {
	// 			top: -43px;
	// 		}
	// 		100% {
	// 			top: 0;
	// 		}
	// 	}
	// }
	&__left {
		display: flex;
		align-items: center;
	}
	&__logo {
		max-width: 200px;
		width: 100%;
		margin-right: 78px;
	}
	&__menu-list {
		display: flex;
		font-size: 18px;
		li {
			margin-right: 70px;
			&:last-child {
				margin-right: 0px;
			}
			&:first-child {
				width: 115px;
			}
		}
	}
	&__menu-link {
		line-height: 140%;
		color: $text;
		transition: all 0.3s ease 0s;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: $accent;
			height: 3px;
			width: 0%;
			left: 50%;
			transition: width 0.3s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__right {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}
	&__phone {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		margin-right: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 130%;
		color: $text;
	}
	&__callback {
		flex-shrink: 0;
	}
	&__mob-phone,
	&__mob-callback {
		display: none;
	}
	&__burger {
		width: 30px;
		height: 30px;
		position: relative;
		transition: all 0.3s ease 0s;
		display: none;
		cursor: pointer;
		// overflow: hidden;
		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $black;
			transition: all 0.3s ease 0s;
			&:nth-of-type(2) {
				top: calc(50% - 8px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 8px);
			}
		}
		&._active {
			span {
				&:first-of-type {
					transform: translateX(500%);
				}
				&:nth-of-type(2) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:nth-of-type(3) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}

@media (max-width: 1449px) {
	.header {
		&__logo {
			margin-right: 50px;
		}
		&__menu-list {
			font-size: 16px;
			li {
				margin-right: 40px;
				&:nth-child(5) {
					margin-right: 0;
				}
			}
		}
		&__phone {
			font-size: 14px;
		}
		&__callback {
			font-size: 12px;
		}
	}
}
@media (max-width: 1240px) {
	.header {
		&__phone {
			display: none;
		}
	}
}
@media (max-width: 1140px) {
	.header {
		&__left {
			width: 100%;
			justify-content: space-between;
		}
		&__logo {
			margin-right: 0;
		}
		&__right {
			display: none;
		}
	}
}
@media (max-width: 900px) {
	.header {
		&__fixed-wrapper {
			background-color: $white !important;
		}
		&__wrapper {
			height: 76px !important;
		}
		&__left {
			display: block;
		}
		&__logo {
			// position: fixed;
			top: 50%;
			transform: translate(0, -50%);
		}
		&__menu-list {
			flex-direction: column;
			align-items: center;
			transition: all 0.3s ease 0s;
			transform: translateX(100%);
			min-width: 320px;
			height: 100vh;
			position: absolute;
			top: 76px;
			right: -10px;
			background-color: $white;
			opacity: 0.95;
			li {
				margin-right: 0;
				margin-top: 20px;
				&:first-child {
					width: auto;
				}
				&:nth-child(6) {
					margin-top: 70px;
				}
			}
			&._active {
				transform: translateX(0);
			}
		}
		&__menu-link {
			display: inline-flex;
			font-size: 24px;
			width: 100%;
		}
		&__mob-phone {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 20px;
			line-height: 130%;
			color: $text;
			transition: all 0.3s ease 0s;
		}
		&__mob-callback {
			display: block;
			width: 192px;
			font-size: 14px;
		}
		&__burger {
			display: block;
		}
	}
}
