section.compilation
	.container
		.compilation__wrapper
			.compilation__image
				img(src="static/images/content/compilation/keys.png", alt="Подборка квартир")
			.compilation__info
				h3._h3 Получите подборку квартиры и скидку 100 000 ₽ на покупку
				p.compilation__subtitle Пройдите минутный опрос, и мы подберем подходящие варианты. Бронируем денежный бонус за каждым участником
				img#compilation-image-mob(src="static/images/content/compilation/keys-2.png", alt="Подборка квартир")
				a.compilation__btn(href="") ПРОЙТИ ОПРОС