section.places
	.places__wrapper.container
		h2._h2 Места поблизости
		.places__slider.swiper-container
			.places__slider-wrapper.swiper-wrapper
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-1.jpg')")
						p ТРЦ “Море Молл”
						span.places__item-distance
							+icon('car')
							|14 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-2.jpg')")
						p Школа №13
						span.places__item-distance
							+icon('car')
							|14 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-3.jpg')")
						p Автовокзал Сочи
						span.places__item-distance
							+icon('car')
							|5 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-4.jpg')")
						p Центральный пляж Сочи
						span.places__item-distance
							+icon('car')
							|10 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-5.jpg')")
						p Детский сад №19
						span.places__item-distance
							+icon('car')
							|3 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-1.jpg')")
						p ТРЦ “Море Молл”
						span.places__item-distance
							+icon('car')
							|14 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-2.jpg')")
						p Школа №13
						span.places__item-distance
							+icon('car')
							|14 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-3.jpg')")
						p Автовокзал Сочи
						span.places__item-distance
							+icon('car')
							|5 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-4.jpg')")
						p Центральный пляж Сочи
						span.places__item-distance
							+icon('car')
							|10 мин.
				.places__slider-slide.swiper-slide
					.places__slider-item._ibg(style="background: url('static/images/content/places/places-5.jpg')")
						p Детский сад №19
						span.places__item-distance
							+icon('car')
							|3 мин.
			.swiper-pagination-progressbar
		button.swiper-next
			+icon('next')
		button.swiper-prev
			+icon('next')

