section.places
	.places__wrapper.container
		h2._h2 Места поблизости
		.places__slider.swiper-container
			.places__slider-wrapper.swiper-wrapper
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-1.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-2.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-3.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-4.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-5.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-1.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-2.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-3.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-4.png", alt="")
				.places__slider-slide.swiper-slide
					.places__slider-image
						img(src="static/images/content/places/places-5.png", alt="")
			.swiper-button-next
			.swiper-button-prev
