footer.footer
	.container
		.footer__wrapper
			.footer__item
				a.footer__logo(href="##") 
					img(src="static/images/general/logo-footer.svg", alt="Министерские озера")
				ul#list-left.footer__list
					li 
						a.footer__link(href="#advantages") Преимущества
					li 
						a.footer__link(href="#genplan") Генплан
					li 
						a.footer__link(href="#sticky") Инфраструктура
					li 
						p.footer__link © 2021 ЖК Министерские озера
					li 
						a#footer-grey.footer__link(href="") Не является публичной офертой
			.footer__item
				p.footer__title ПРОЕКТЫ
				ul#list-right.footer__list
					li 
						a.footer__link(href="##") Фруктовый квартал
					li 
						a.footer__link(href="##") Жилой квартал
					li 
						a.footer__link(href="##") Бизнес квартал
					li 
						a.footer__link(href="##") Город детства
					li 
						a.footer__link(href="tel:88888888888") 8 888 888-88-88
					li 
						a.footer__link(href="mailto:почта@почта.ru") почта@почта.ru
			.footer__item
				p.footer__title КОМПАНИЯ
				ul#list-right.footer__list
					li 
						a.footer__link(href="##") Официальные документы
					li 
						a.footer__link(href="##") Квартиры
					li 
						a.footer__link(href="##") О компании
					li 
						a.footer__link(href="##") Контакты
					li 
						a.footer__link(href="##") Политика конфеденциальности
					li 
						a#footer-grey.footer__link(href="https://roiburo.ru/") Сайт разработан ROIburo
		.footer__accordeon
			a.footer__logo(href="##") 
				img(src="static/images/general/logo-footer.svg", alt="Министерские озера")
			.footer__accordeon-item
				p.footer__title УСЛУГи
				ul.footer__list
					li 
						a.footer__link(href="#advantages") Преимущества
					li 
						a.footer__link(href="#genplan") Генплан
					li 
						a.footer__link(href="#sticky") Инфраструктура
			.footer__accordeon-item
				p.footer__title ПРОЕКТЫ
				ul.footer__list
					li 
						a.footer__link(href="##") Фруктовый квартал
					li 
						a.footer__link(href="##") Жилой квартал
					li 
						a.footer__link(href="##") Бизнес квартал
					li 
						a.footer__link(href="##") Город детства
			.footer__accordeon-item
				p.footer__title КОМПАНИЯ
				ul.footer__list
					li 
						a.footer__link(href="##") Официальные документы
					li 
						a.footer__link(href="##") Квартиры
					li 
						a.footer__link(href="##") О компании
			#border.footer__accordeon-item
				p.footer__title КОНТАКТЫ
				ul.footer__list
					li
						a.footer__link(href="tel:88888888888") 8 888 888-88-88
					li 
						a.footer__link(href="mailto:почта@почта.ru") почта@почта.ru
			.footer__accordeon-bottom
				a.footer__accordeon-link(href="") Политика конфеденциальности
				p.footer__accordeon-link © 2020 ЖК Министерские озера
				a.footer__accordeon-link(href="") Сайт разработан ROIburo
				a.footer__accordeon-link(href="") Не является публичной офертой
			