section.advantages
	.container
		.advantages__wrapper
			h2._h2 Преимущества квартир
			.advantages__content-top
				#item-1.advantages__item._ibg(style="background-image:url('static/images/content/advantages/advantages-1.jpg')")
					h3._h3 Остановочные комплексы общественного транспорта
					p.advantages__subtitle Для эффективной транспортной связи с центром Сочи прямо на территории комплексы расположены остановочные комплексы
				#item-2.advantages__item._ibg(style="background-image:url('static/images/content/advantages/advantages-2.jpg')")
					h3._h3 Зеленый сад в каждом дворе
					p.advantages__subtitle Здания комплекса уютно раскинутся между склонами гор. Красоты Сочинской природы останутся в шаговой доступности для любого жителя
			.advantages__content-bot
				#item-3.advantages__item._anim-items._anim-no-hide
					img(src="static/images/general/logo.svg", alt="")
					h3._h3 Старт продаж нового дома
					p.advantages__subtitle#subtitle Мы подготовил особые ипотечные программы: максимально комфортный первый год или льготная ставка
					a(href="") Выбрать квартиру
						span >
				#item-4.advantages__item._ibg(style="background-image:url('static/images/content/advantages/advantages-3.jpg')")
					h3._h3 Микрорайон с повышенным уровнем комфортности
					p.advantages__subtitle Проектом предусмотрены подъезды с обширными площадками для хранения детских колясок и велосипедов. Кроме того принято всё, чтобы упростить жизнь людей с ограниченными возможностями — они смогут без труда перемещаться в просторной безбарьерной среде с удобными пандусами
				

