section.citys
	.container
		h2._h2._anim-items._anim-no-hide Город в городе
		.citys__subtitle._anim-items._anim-no-hide Министерские Озера состоят из 4 кварталов: Фруктовый, Бизнес, Жилой и Город Детства. Дома комфорт-класса, чистый воздух, буйство южных красок, близость городской инфраструктуры
		.citys__content
			.citys__item
				.citys__image
					img(src="static/images/content/citys/citys-1.png", alt="")
				h3._h3 Развитая инфраструктура
				p На территории предусмотрено строительство общеобразовательной школы на 400 мест и детского сада на 60 мест
			.citys__item
				.citys__image
					img(src="static/images/content/citys/citys-2.png", alt="")
				h3._h3 Безопасность территории
				p Территория закрытая. Ведется круглосуточное видеонаблюдение, установлена система оповещения при пожаре
			.citys__item
				.citys__image
					img(src="static/images/content/citys/citys-3.png", alt="")
				h3._h3 Максимальный комфорт
				p Каждый подъезд оснащен лифтом с высокой степенью грузоподъемности и пандусами. Комплекс подключен к центральным коммуникациям
		.citys__slider.swiper-container
			.citys__slider-wrapper.swiper-wrapper
				.citys__slider-slide.swiper-slide
					.citys__slider-item
						.citys__slider-image
							img(src="static/images/content/citys/citys-1.png", alt="")
						h3._h3 Развитая инфраструктура
						p На территории предусмотрено строительство общеобразовательной школы на 400 мест и детского сада на 60 мест
				.citys__slider-slide.swiper-slide
					.citys__slider-item
						.citys__slider-image
							img(src="static/images/content/citys/citys-2.png", alt="")
						h3._h3 Безопасность территории
						p Территория закрытая. Ведется круглосуточное видеонаблюдение, установлена система оповещения при пожаре
				.citys__slider-slide.swiper-slide
					.citys__slider-item
						.citys__slider-image
							img(src="static/images/content/citys/citys-3.png", alt="")
						h3._h3 Максимальный комфорт
						p Каждый подъезд оснащен лифтом с высокой степенью грузоподъемности и пандусами. Комплекс подключен к центральным коммуникациям
			.citys__slider-progressbar