.selection
	.selection__topline.container
		.selection__left
			strong Подобрать квартиру
			form.selection__filtres(action="#")
				.selection__checkbox-group
					.selection__checkbox-item
						input#checkbox-1(type="checkbox" name="checkbox" value="1")
						label#checkbox-1(for="checkbox-1") Студия	
					.selection__checkbox-item
						input#checkbox-2(type="checkbox" name="checkbox" value="2")
						label#checkbox-2(for="checkbox-2") 1
					.selection__checkbox-item
						input#checkbox-3(type="checkbox" name="checkbox" value="3" checked)
						label#checkbox-3(for="checkbox-3") 2
					.selection__checkbox-item
						input#checkbox-4(type="checkbox" name="checkbox" value="4")
						label#checkbox-4(for="checkbox-4") 3+
				.selection__price-group
					input#price-1(data-mask="0 000 000" type="text" name="price" placeholder="от 1 999 999")
					input#price-2(data-mask="00 000 000" type="text" name="price" placeholder="до 13 999 999")
					p ₽
		.selection__right
			a.selection__btn._btn(href="#") 
				span 57 
					|ПРЕДЛОЖЕНИЙ