section.main
	.main__image
		img(src="static/images/general/main-bg.png", alt="")
	.main__wrapper.container
		h1 Министерские озера
		p Жилой комплекс в Сочи с видом на горы и море
		.main__pulse.pulse-1
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Окруженный с двух сторон горами, жилой комплекс в любую погоду защищен от ветра
		.main__pulse.pulse-2
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Близость национального парка Сочи с его южной зеленью создает особый микроклимат
		.main__pulse.pulse-3
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Комплекс расположен в долине реки Бзуг, ее набережная укреплена и благоустроена 

	.main__wrapper.container
		h1 Министерские озера
		p Жилой комплекс в Сочи с видом на горы и море
		.main__pulse.pulse-1
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Окруженный с двух сторон горами, жилой комплекс в любую погоду защищен от ветра
		.main__pulse.pulse-2
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Близость национального парка Сочи с его южной зеленью создает особый микроклимат
		.main__pulse.pulse-3
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Комплекс расположен в долине реки Бзуг, ее набережная укреплена и благоустроена 

	.main__wrapper.container
		h1 Министерские озера
		p Жилой комплекс в Сочи с видом на горы и море
		.main__pulse.pulse-1
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Окруженный с двух сторон горами, жилой комплекс в любую погоду защищен от ветра
		.main__pulse.pulse-2
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Близость национального парка Сочи с его южной зеленью создает особый микроклимат
		.main__pulse.pulse-3
			.main__pulse-wrapper
				.main__pulse-circle
					.main__pulse-text Комплекс расположен в долине реки Бзуг, ее набережная укреплена и благоустроена 

