.main {
	width: 100vw;
	background: url("../images/general/main-bg.png") center/cover no-repeat;
	&__wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 60px;
		position: relative;
		h1 {
			font-weight: 500;
			font-size: 72px;
			line-height: 85px;
			color: $white;
			opacity: 0;
			visibility: hidden;
			transform: translate(0, -120%);
			transition: all 0.6s ease 0s;
		}
		p {
			font-weight: 500;
			font-size: 28px;
			line-height: 140%;
			color: $white;
			opacity: 0;
			visibility: hidden;
			transform: translate(0, -120%);
			transition: all 0.6s ease 0s;
		}
		._active {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__image {
		margin: 66px 0 20px 0;
		width: 100%;
		height: 229px;
		overflow: hidden;
		position: relative;
		display: none;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__pulse {
		position: absolute;
		opacity: 0;
		transform: translate(-28%, 0);
		transition: all 0.6s ease 0s;
		._active {
			opacity: 1;
			visibility: visible;
			transform: translate(28%, 0);
		}
	}
	.pulse-1 {
		top: 28%;
		left: 20%;
	}
	.pulse-2 {
		bottom: 40%;
		right: 12%;
	}
	.pulse-3 {
		bottom: 8%;
		right: 11%;
	}
	&__pulse-wrapper {
		position: relative;
		width: 400px;
	}
	&__pulse-circle {
		display: block;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: $white;
		cursor: pointer;
		box-shadow: 0 0 0 rgba(255, 255, 255, 1);
		animation: pulse 1s infinite;
		&:hover {
			animation: none;
		}
		&:hover .main__pulse-text {
			opacity: 1;
			visibility: visible;
		}
	}
	&__pulse-text {
		position: absolute;
		top: -8px;
		left: 42px;
		bottom: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		font-size: 12px;
		line-height: 130%;
		letter-spacing: 1px;
		color: $white;
		backdrop-filter: blur(1px);
		transition: all 0.5s ease 0s;
	}
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@media (max-width: 1350px) {
	.main {
		&__wrapper {
			h1 {
				font-size: 58px;
				line-height: 69px;
			}
			p {
				font-size: 22px;
				line-height: 140%;
			}
		}
	}
}
@media (max-width: 960px) {
	.main {
		&__wrapper {
			h1 {
				font-size: 48px;
				line-height: 59px;
			}
			p {
				font-size: 20px;
				line-height: 140%;
			}
		}
	}
}
@media (max-width: 540px) {
	.main {
		background: none;
		&__wrapper {
			justify-content: start;
			height: auto;
			padding-bottom: 0;
			h1 {
				max-width: 290px;
				font-size: 36px;
				line-height: 100%;
				margin-bottom: 12px;
				color: $text;
			}
			p {
				max-width: 241px;
				font-size: 14px;
				line-height: 140%;
				color: $text;
			}
		}
		&__image {
			display: block;
		}
		&__pulse {
			display: none;
		}
	}
}
