section.main
	.main__image
		img(src="static/images/general/main-bg.png", alt="")
	.main__wrapper.container
		h1._anim-items._anim-no-hide Министерские озера
		p._anim-items._anim-no-hide Жилой комплекс в Сочи с видом на горы и море
		.main__pulse.pulse-1._anim-items._anim-no-hide
			.main__pulse-wrapper
				.main__pulse-circle
					svg.main__pulse-circle(expanded='true' height='100px' width='100px')
						circle(cx='50%' cy='50%' r='5px')
						circle.pulse(cx='50%' cy='50%' r='15px')
						circle.pulse(cx='50%' cy='50%' r='20px')
				.main__pulse-text Окруженный с двух сторон горами, жилой комплекс в любую погоду защищен от ветра
		.main__pulse.pulse-2._anim-items._anim-no-hide
			.main__pulse-wrapper
				.main__pulse-circle
					svg.main__pulse-circle(expanded='true' height='100px' width='100px')
						circle(cx='50%' cy='50%' r='5px')
						circle.pulse(cx='50%' cy='50%' r='15px')
						circle.pulse(cx='50%' cy='50%' r='20px')
				.main__pulse-text Близость национального парка Сочи с его южной зеленью создает особый микроклимат
		.main__pulse.pulse-3._anim-items._anim-no-hide
			.main__pulse-circle
				.main__pulse-wrapper
					svg.main__pulse-circle(expanded='true' height='100px' width='100px')
						circle(cx='50%' cy='50%' r='5px')
						circle.pulse(cx='50%' cy='50%' r='15px')
						circle.pulse(cx='50%' cy='50%' r='20px')
					.main__pulse-text#text3 Комплекс расположен в долине реки Бзуг, ее набережная укреплена и благоустроена


