.sticky {
	padding: 60px 0;
	background-color: $bgc;
	&__wrapper {
		display: grid;
		grid-template: 1fr / minmax(380px, 25%) minmax(380px, 75%);
	}
	&__sidebar {
		position: relative;
		width: 380px;
	}
	&__sidebar-wrapper {
		display: flex;
		position: sticky;
		top: 100px;
	}
	#first-circle {
		background-color: $text;
		width: 12px;
		height: 12px;
		left: -45px;
	}
	#first-link {
		color: $text;
		font-weight: 700;
	}
	&__sidebar-list {
		max-width: 393px;
		position: relative;
		li {
			position: relative;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	&__sidebar-link {
		font-size: 18px;
		line-height: 140%;
		color: #828282;
		&.active {
			color: $text;
			font-weight: 700;
		}
	}
	&__progress {
		margin: 10px 38px 10px 0;
		position: relative;
	}
	&__progress-bar {
		width: 3px;
		height: 100%;
		border-radius: 5px;
		background-color: #828282;
	}
	&__progress-bar--increment {
		background-color: $text;
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 0;
		border-radius: 5px;
	}
	&__progress-bar--circle {
		position: absolute;
		bottom: 6px;
		left: -44px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: #828282;
		transition: all 0.1s;
		&.active {
			background-color: $text;
			width: 12px;
			height: 12px;
			left: -45px;
		}
	}
	&__content-item {
		margin-bottom: 60px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		margin-bottom: 12px;
	}
	&__item-subtitle {
		font-size: 18px;
		line-height: 140%;
		color: $text;
		margin-bottom: 30px;
		max-width: 700px;
	}
	&__image {
		min-height: 365px;
		max-width: 100%;
		width: 100%;
		border-radius: 5px;
	}
	#content-item-1 {
		display: flex;
		min-width: 387px;
		.sticky__item-text {
			margin-right: 30px;
			max-width: 387px;
		}
		.sticky__image {
			min-width: 387px;
		}
	}
	#content-item-2 {
		display: flex;
		flex-direction: column;
	}
	#content-item-3 {
		display: flex;
		flex-direction: column;
		.sticky__item-text {
			max-width: 527px;
		}
		.sticky__item-images {
			display: flex;
		}
		.sticky__image {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				flex: 25%;
				min-width: 387px;
			}
		}
	}
	#content-item-4 {
		display: flex;
		flex-direction: column;
		h3 {
			max-width: 730px;
		}
		.sticky__item-subtitle {
			max-width: 636px;
		}
		.sticky__item-images {
			display: flex;
		}
		.sticky__image {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				flex: 25%;
				min-width: 387px;
			}
		}
	}
	#content-item-5 {
		display: flex;
		.sticky__item-text {
			margin-right: 30px;
			max-width: 387px;
		}
	}
}
@media (max-width: 1204px) {
	.sticky {
		#content-item-1,
		#content-item-5 {
			flex-direction: column;
			.sticky__item-text {
				max-width: 100%;
			}
		}
		#content-item-3 {
			.sticky__image {
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					display: none;
				}
			}
			.sticky__item-text {
				max-width: 700px;
			}
		}
		#content-item-4 {
			.sticky__image {
				&:nth-child(2) {
					margin: 0;
				}
				&:nth-child(1) {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.sticky {
		&__wrapper {
			display: block;
		}
		&__sidebar {
			display: none;
		}
		&__item-text {
			max-width: auto;
		}
	}
}
@media (max-width: 768px) {
	.sticky {
		padding: 30px 0;
		&__content-item {
			margin-bottom: 30px;
		}
		#content-item-1,
		#content-item-5 {
			flex-direction: column;
			.sticky__item-text,
			.sticky__item-subtitle,
			h3 {
				width: 100%;
			}
			.sticky__image {
				min-height: 250px;
			}
		}
		#content-item-2,
		#content-item-3,
		#content-item-4 {
			.sticky__image {
				min-height: 250px;
			}
		}
	}
}
@media (max-width: 540px) {
	.sticky {
		background-color: $white;
		&__item-subtitle {
			font-size: 14px;
			margin-bottom: 15px;
		}
		#content-item-1,
		#content-item-5 {
			min-width: 280px;
			.sticky__image {
				min-height: 220px;
				min-width: 280px;
			}
		}
		#content-item-2,
		#content-item-3,
		#content-item-4 {
			min-width: 280px;
			.sticky__image {
				min-height: 220px;
			}
		}
		#content-item-3 {
			.sticky__image {
				&:first-child {
					min-width: 100%;
				}
			}
		}

		#content-item-5 {
			h3 {
				max-width: auto;
			}
		}
	}
}
