section.sticky
	.container
		.sticky__wrapper
			.sticky__sidebar
				.sticky__sidebar-wrapper
					.sticky__progress
						.sticky__progress-bar
						.sticky__progress-bar--increment
					ul.sticky__sidebar-list
						li
							a.sticky__sidebar-link#first-link(href="#content-item-1") Отдых у воды
								span.sticky__progress-bar--circle#first-circle
						li
							a.sticky__sidebar-link(href="#content-item-2") Просторная парковка
								span.sticky__progress-bar--circle
						li
							a.sticky__sidebar-link(href="#content-item-3") Прогулочная зона
								span.sticky__progress-bar--circle
						li
							a.sticky__sidebar-link(href="#content-item-4") Школа и детский сад
								span.sticky__progress-bar--circle
						li
							a.sticky__sidebar-link(href="#content-item-5") Инфраструктура двора
								span.sticky__progress-bar--circle	
			.sticky__content
				.sticky__content-item#content-item-1
					.sticky__item-text
						h3._h3 Обустроенная набережная
						.sticky__item-subtitle Набережная территория укреплена и обустроена беседками, чтобы проводить уютные вчера с друзьями и соседями 
					.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-1.png')")
				.sticky__content-item#content-item-2
					.sticky__item-text
						h3._h3 Открытый бесплатный паркинг в каждом дворе
						.sticky__item-subtitle Для вашего автомобиля всегда найдется место возле дома, независимо от того, как рано начался и как поздно закончился день 
					.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-2.png')")
				.sticky__content-item#content-item-3
					.sticky__item-text
						h3._h3 Прогулки в удовольствие
						.sticky__item-subtitle В прилегающих лесах предусмотрено создание троп здоровья. Центром притяжения  станут парки и мощёные набережные озёр с пирсами и беседками 
					.sticky__item-images
						.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-3.png')")
						.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-4.png')")
				.sticky__content-item#content-item-4
					.sticky__item-text
						h3._h3 Вашим детям не придется добираться до школы на общественном транспорте
						.sticky__item-subtitle На территории предусмотрено строительство общеобразовательной школы на 400 мест и детского сада на 60 мест 
					.sticky__item-images
						.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-5.png')")
						.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-6.png')")
				.sticky__content-item#content-item-5
					.sticky__item-text
						h3._h3 Продуктовые магазины, почта, отеление банка
						.sticky__item-subtitle И все это прямо на территории комплекса! Концепция “Город в городе” учитывает ежедневные потребности будущих жильцов комплекса 
					.sticky__image._ibg(style="background-image:url('static/images/content/sticky/sticky-7.png')")
