.sticky {
	padding-top: 60px;
	padding-bottom: 1000px;
	background-color: $bgc;
	&__wrapper {
		display: grid;
		grid-template: 1fr / 25% 75%;
	}
	&__sidebar {
		position: relative;
	}
	&__sidebar-wrapper {
		display: flex;
		position: sticky;
		top: 100px;
	}
	&__sidebar-list {
		max-width: 393px;
		position: relative;
		li {
			position: relative;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	&__sidebar-link {
		font-size: 18px;
		line-height: 140%;
		color: #828282;
	}
	&__content {
	}
	&__content-item {
		margin-bottom: 60px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		margin-bottom: 12px;
	}
	.sticky__item-subtitle {
		font-size: 18px;
		line-height: 140%;
		color: $text;
		margin-bottom: 30px;
		max-width: 700px;
	}
	.sticky__image {
		min-height: 365px;
		max-width: 100%;
		width: 100%;
		border-radius: 5px;
	}
	#content-item-1 {
		display: flex;
		.sticky__item-text {
			margin-right: 30px;
			max-width: 387px;
		}
	}
	#content-item-2 {
		display: flex;
		flex-direction: column;
	}
	#content-item-3 {
		display: flex;
		flex-direction: column;
		.sticky__item-text {
			max-width: 527px;
		}
		.sticky__item-images {
			display: flex;
		}
		.sticky__image {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				flex: 25%;
				min-width: 387px;
			}
		}
	}
	#content-item-4 {
		display: flex;
		flex-direction: column;
		h3 {
			max-width: 730px;
		}
		.sticky__item-subtitle {
			max-width: 636px;
		}
		.sticky__item-images {
			display: flex;
		}
		.sticky__image {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				flex: 25%;
				min-width: 387px;
			}
		}
	}
	#content-item-5 {
		display: flex;
		.sticky__item-text {
			margin-right: 30px;
			max-width: 387px;
		}
	}
}
@media (max-width: 1440px) {
	.sticky {
		#sticky__content-img,
		#sticky__content-text-1 {
			width: 100%;
		}
	}
}
@media (max-width: 1023px) {
	.sticky {
		&__sidebar {
			display: none;
		}
	}
}
@media (max-width: 767px) {
	.sticky {
		padding: 0;
	}
}
@media (max-width: 539px) {
	.sticky {
		padding-top: 30px;
		h3 {
			max-width: 320px;
		}
		background-color: $white;
		&__content-text-subtitle {
			font-size: 16px;
			// max-width: 320px;
		}
	}
}

/* Navbar - Progress Bar */

.sticky__progress {
	margin: 10px 38px 10px 0;
	position: relative;
}
.sticky__progress-bar {
	width: 3px;
	height: 100%;
	border-radius: 5px;
	background-color: #828282;
}
.sticky__progress-bar--increment {
	background-color: $text;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 0;
	border-radius: 5px;
}
.sticky__progress-bar--circle {
	position: absolute;
	bottom: 6px;
	left: -44px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #828282;
	transition: all 0.1s;
	&.active {
		background-color: $text;
	}
}
